{% extends "base.jinja" %}
{% block contenu %}
<div class="row">
    <div class="col-lg-12">
       <h2>Confirmation</h2>
       <p>Le service a été ajouté avec succès</p>
    </div>
</div>
{% endblock %}