{% extends "base.jinja" %}
{% block contenu %}
<div class="row">
    <div class="col-lg-12">
        <ul>
            {%for service in services%}
            <li><a href="/service? id={{service.id}}">{{service.titre}}</a></li>
            {%endfor%}
        </ul>
    </div>
</div>
{% endblock %}